<div class="col-md-4">
   <h4>Hello User: <%= @user.email %></h4>
   <%= render partial: 'items/item', locals: {user: @user} %>
   <%= render partial: 'items/form', locals: {user: @user, item: Item.new } %>
</div>
