<% if user == current_user %>
    <% user.items.each do |item| %>
        <div class="item", id=<%= "item-#{item.id}"%>>
        <table>
            <tr>
                <td><%= item.name %></td>
                <td><small> <div class="time"> <%= time_remaining_to_delete_item(Time.now, item.created_at + 7.day) %> left to complete the task </small></div></td>
                <td><%= link_to "", [user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %> </td>
            </tr>
        </table>
        </div>
    <% end %>
<% end %>